.sidenav {
    background-color: rgb(70, 85, 170);
    width: 12rem;
}
.sidenav a {
    color: rgb(255, 255, 255);
}
.sidenav i {
    padding-right: 1rem;
}
.content-home {
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}