.header {
    display: flex;
    align-items: center;
}
.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
.header .logo {
    max-height: 35px;
}
.header .header-group {
    padding-left: 25px;
}
.header .header-group i {
    padding-right: 5px;
}